{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} login.html {%endblock%}

{% block content %}

    <h2>로그인</h2>
    <hr>


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

    <form action="." method="post" class="card pt-3">{% csrf_token%}

        <div class = "form-group row">
            &ensp;{{form.username|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold"}}
            <div class="col-sm-5">
                {{form.username|add_class:"form-control"|attr:"autofocus"}}
            </div>
        </div>
        <br>
        <div class="form-group row">
           &ensp; {{ form.password|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold"}}
            <div class= "col-sm-5">
                {{form.password|add_class:"form-control"}}
            </div>
        </div>
        <br>
        <div class= "form-group">
            <div class="offset-sm-2 col-sm-5">
                <input type="submit" value="로그인" class ="btn btn-light"/>
                <input type="hidden" name ="next" value="{{next}}" />
            </div>
        </div>
        <br>
    </form>

{% endblock %}