{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Profile Page{% endblock title %}

{% block content %}
    <h2 style="font-family:'abc'">회원가입</h2>
    <br>
    <br>
    <form method="post" class="form-profile"  onsubmit="return onSubmit()">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br>
        <input type="submit" id= "subbutton" class="btn btn-outline-info" value="회원가입"> 

{% endblock content %}
{% block extra-script%}
<script>
function onSubmit() {
    document.getElementById("subbutton").disabled = true; 
}
</script>
{% endblock%}