{% extends "base.html" %}

{% block title %}post_all.html{%endblock%}

{%block content%}
<h4>국내주식 게시판</h4>


<hr style="height:8px">
<br>

{% for post in posts %}
<hr>

<div>

<a href='{{post.get_absolute_url}}' style="text-decoration:none">
    <table>
    <tr>
    <th class="col-sm-10" style="color:black;"><h6>{{post.title}}</h6></th>
    <td class="col-sm-2" style="color:grey; text-align:right;">{{post.modify_dt|date:"작성일: Y년 m월 d일"}}</td>
    </tr>
    </table>
</a>



</div>
{% endfor %}

<br>

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href = "?page={{ page_obj.previous_page_number }}">PreviousPage</a>
        {% endif %}

        Page {{page_obj.number }} of {{page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
            <a href="?page = {{page_obj.next_page_number}}">NextPage</a>
        {% endif %}
    </span>
</div>
{% endblock %}