{% extends "domestic.html" %}
{% block extra-style %}
<style>
.post-body {
    width: 80%;
    margin: auto;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 16px;

}
</style>
{%endblock%}

{% block title %}post_all.html{%endblock%}

{%block content%}
<div class="post-body">
<div class="text-dark row fw-bold" style="box-sizing: border-box; border-top: 1px solid #c0c0c0;border-bottom: 1px solid #c0c0c0; margin-bottom:8px; " ><div class="col-sm-7 text-center">제목</div><div class="col-sm-3 text-center">작성자</div><div class="col-sm-2 text-center">작성일</div></div>
<div class="list-group-flush row">
    
    {% for post in posts %}

    <a href='{{post.get_absolute_url}}' style="box-sizing: border-box;border-bottom: 1px solid #c0c0c0;text-decoration:none;margin-bottom:1px;margin-top:0px"><div class="row text-dark"><div class="col-sm-7">&ensp;{{post.title}}</div><div class="col-sm-3 text-center">{{post.owner.first_name}}</div><div class="col-sm-2 text-center">{{post.modify_dt|date:"f:s"}}</div></div>
    </a>
    {% endfor %}

</div>






<br>

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href = "?page={{page_obj.previous_page_number}}">PreviousPage</a>
        {% endif %}

        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">NextPage</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}