{% extends "free.html"%}

{% load widget_tweaks %}
{% block title %} 게시물 작성 {%endblock%}

{%block content%}
    <div class="post-body">
    <h4>게시물 작성</h4>
    <br>

    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-wieght-bold">잘못된 입력입니다</div>
        {{form.errors}}
    </div>
    {% endif %}

    <form action="." method="post">{%csrf_token%}

        <div class=>{{form.media}}</div>    
        <div class= "form-group">

            <div >
           <input name="title" class="form-control" placeholder="제목" attr="autofocus">
            </div>
        </div>
        <br>
        

        <div class="form-group" style="margin-left:5px; margin-right:5px">
                <span style="text-decoration:none; height:5px">내용</a>
                <div class="center">
                       <textarea required id="summernote" name="content">{{object.content}}</textarea>
                </div>              
        </div>
        <br>

        <div class="form-group row">
            종목명:
            <div class="col-sm-5">
                {{form.tags|add_class:"form-control"}}
            </div>
            <small class="form-text text-muted">,로 구분해주세요</small>
        </div>

        <div class= "form-group">
            <div class="offset-sm-2 col-sm-5">
            <input type="submit" value="제출" class= "btn btn-info"/>
            </div>
        </div>

        <div class="form-group row visually-hidden">
            {{form.category|add_label_class:"col-form-label col-sm-2 ml-2  font-weight-bold"}}
            <div class="col-sm-5">
                {{form.category|add_class:"form-control"}}
            </div>
            <small class="form-text text-muted">&ensp;,로 구분해주세요</small>
        </div>
    

    <br>

    </form>
    </div>
    <script>
    $(document).ready(function() {
        //여기 아래 부분
        $('#summernote').summernote({
            height: 300,                 // 에디터 높이
            minHeight: null,             // 최소 높이
            maxHeight: null,             // 최대 높이
            focus: false,             // 에디터 로딩후 포커스를 맞출지 여부
            lang: "ko-KR",
            required: true,			// 한글 설정
            placeholder: '내용을 입력해주세요'	//placeholder 설정
            
        });
    });
</script>
{%endblock%}
