{%extends 'base.html' %}
{%block extra-style%}

{% endblock %}
{%block list%}

    <div class="post-body">
    <a href="{% url 'blog:index'%}" style="text-decoration:none; font-family:'title';font-size:20px;width:fit-content;"class="text-dark">주식 토론방</a>
   
    {% if request.get_full_path != "/foreign/add/" and request.get_full_path|slice:':16' != "/foreign/update/" %}

    <button  type="button" OnClick="location.href='/foreign/add'" class="btn btn-sm btn-dark text-light" style="float:right;  width:fit-content"><i class="fas fa-pencil-alt"></i></button>
    {%endif%}
    <button type="button" OnClick="location.href='/foreign/'" class= "btn btn-sm btn-outline-dark " style="width:fit-content; float:right;margin-right:0.5vw">
    전체글</button>
    
    
     <button type="button" OnClick="location.href='/foreign/popular'" class= "btn btn-sm btn-dark text-light" style="width:fit-content;float:right;margin-right:0.2vw"><i class="fas fa-check"style="color:green"></i>인기글</button>
                  <hr style="height:5px; width: 110px;margin-top:0px"class="theme-color"> 
    </div>



{% endblock%}
