{%extends 'base.html' %}
{%block extra-style%}

{% endblock %}
{%block list%}

    <div class="post-body">
    <a href="{% url 'free:index'%}" style="text-decoration:none; font-family:'title';font-size:20px;width:fit-content;"class="text-dark">자유게시판</a>
    {% if request.get_full_path != "/free/add/" and request.get_full_path|slice:':13' != "/free/update/" %}

    <button  type="button" OnClick="location.href='/free/add'" class="btn btn-sm btn-dark text-light" style="float:right; margin-top:10px; width:fit-content"><i class="fas fa-pencil-alt"></i></button>
    {%endif%}
<hr style="height:5px; width: 110px;margin-top:0px"class="theme-color">  
    </div>


{% endblock%}
