
{% extends 'base.html' %}
{% load static %}
{% block title %}주식저장소 홈{%endblock%}
{% block extra-style %}
{% load hitcount_tags %}
<style type="text/css">
.responsive {
    
    font-size: 16px;


    }
.home-image {
    background-color: #404040;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width:100%;

    color: white;
    font-size:16px;
    height:fit-content;


}
@media (max-width: 1024px) {
    .responsive{
        font-size: 14px;}
    }

@media (max-width: 767px) {
    .responsive{
        font-size: 12px;

      }
    .home-image {
        background-color: #404040;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        color: white;
        height:fit-content;
        font-size:12px;


    }
}







 a{
    text-decoration:none;
}
.title {
    color: #c80;
    font-weight: bold;


}


.powered {
    position: relative;
    top: 77%;
    color: #cc0;
    font-style: italic;
}
.footer{
    width: 100%;
    height: 50px;
    position:absolute;
    bottom:0;
    background:black;
    text-align:center;
    color:white; 
}
.div_body{
    position:relative;
}
</style>
{%endblock%}
{%block content %}
    <div style="border:4px #e0ffff; border-style:inset; background-color:#404040; margin-bottom:20px">
        <div  style="display:inline-block; width:100%;color:red;  border-bottom:1px solid #e0ffff;"><span class="fw-bold" style="float:left; display: inline-block;font-size:20px;">실시간 지수</span><span style="float:right;display: inline-block; margin-right:5px"><i class="fas fa-clock"></i>{{time}}</span></div>
        
        <div class="home-image" style="border-bottom: 1px solid #e0ffff">
            <span style="margin-left:5%">코스피 {{kospi}}&ensp;&ensp;  </span>
                {% if kospi_df|slice:':1' == '+' %} <span style="color:red">
                {% elif kospi_df|slice:':1' == '-' %} <span style="color:#4B89DC">
                {%else%}<span style="color:grey">{%endif%}   {{kospi_df}}<br>
            </span>     
            <span style="margin-left:5%">코스닥 {{kosdaq}}&ensp;&ensp;  </span> 
                {% if  kosdaq_df|slice:":1"  == "+" %} <span style="color:red">
                {% elif kosdaq_df|slice:':1' == '-' %} <span style="color:#4B89DC">
                {%else%}<span style="color:grey">{%endif%}   {{kosdaq_df}}<br>
            </span>
            <span style="margin-left:5%">나스닥 {{nasdaq}}&ensp;&ensp;  </span>
                {% if  nasdaq_df|slice:":1"  == "+" %} <span style="color:red">
                {% elif nasdaq_df|slice:':1' == '-' %} <span style="color:#4B89DC">
                {%else%}<span style="color:grey">{%endif%}   {{nasdaq_df}}<br>
            </span>
        
        </div>
        <div class="row" style="display:flex; flex-direction:row-reverse; border-radius: 80px / 40px; border:1px #CCC">
            <a href="https://finance.naver.com/" style=";color:red;width:fit-content;">>>네이버 증권 바로가기</a>
            <br>

        </div>
    </div>
    <div class="row text-left responsive" style="display:flex">
   

        <div class="text-body col-sm-6 " style="margin-bottom:15px;">
            <a href="{% url 'domestic:index' %}"class="text-decoration-none fw-bold" style="color:#2E3235" >
            <h5 style="margin-bottom:0px;font-family: 'nanum_roundR'; "><i class="fas fa-won-sign"></i>&ensp;국내주식 게시판</h5></a>
            <hr  width="200px" style="border:0;margin-top:2px;color:blue; height:2px">
           

    
            {% for post in post_domestics|slice:":9" %}

            <div class="row text-dark"style="box-sizing: border-box;border-bottom: 1px 
            solid #e9e9e9;text-decoration:none;margin-bottom:1px;margin-top:0px;">

                <div class="col-7" style="overflow-wrap:'hidden'"><a href='{{post.get_absolute_url}}?page={{page_obj.number}}' style="color:black" >{{post.title}}<br>
                    <span style="color:red;"><i class="fas fa-thumbs-up"></i>{{post.number_of_likes}}{% if post.number_of_comments > 0 %}<span style="color:red">&ensp;<i class="far fa-comment"></i>{{post.number_of_comments}}</span>{%endif%}
                    </a>
                </div>
                <div class="col-3 text-center"><a href="{{post.owner_absolute_url}}" style="color:black; center"><i class="far fa-user"></i>&ensp;{{post.owner.first_name}}</a></div>
                <div class="col-2 text-center" style="padding:0px">{{post.created_string}}</div>
            </div>


            {% endfor %}

     
            

 

        </div>

 
        
        
        
        <div class="text-body col-sm-6"  >
            <a href="{% url 'blog:index' %}" class="text-decoration-none fw-bold" style=" color: #2E3235">
            <h5  style="margin-bottom:0px; font-family:'nanum_roundR';"><i class="fas fa-dollar-sign"></i>&ensp;해외주식 게시판</h5></a>
            <hr  width="200px" style="border:0;margin-top:2px;color:blue; height:2px">
            

                    {% for post in post_foreigns|slice:":9" %}

                        
                        <div class="row text-dark"style="box-sizing: border-box;border-bottom: 1px 
                        solid #e9e9e9;text-decoration:none;margin-bottom:1px;margin-top:0px;">

                        <div class="col-7 "style="overflow-wrap: break-word;"><a href='{{post.get_absolute_url}}?page={{page_obj.number}}' style="color:black" >{{post.title}}<br>
                            <span style="color:red"><i class="fas fa-thumbs-up"></i>{{post.number_of_likes}}{% if post.number_of_comments > 0 %}&ensp;&ensp;<i class="far fa-comment"></i>{{post.number_of_comments}}{%endif%}</span>
                            </a></div>
                        <div class="col-3 text-center"><a href="{{post.owner_absolute_url}}" style="color:black; center"><i class="far fa-user"></i>&ensp;{{post.owner.first_name}}</a></div>
                        <div class="col-2 text-center" style="padding:0px">{{post.created_string}}</div>
                        </div>


                    {% endfor %}

        </div>


<br>
<br>
<br>
 </div>


{%endblock%}

{%block footer%}

{% endblock %}
