
{% extends 'base.html' %}
{% load static %}
{% block title %}home.html{%endblock%}
{% block extra-style %}
<style type="text/css">
.home-image {
    background-image: url("{% static 'img/tofu_title.png' %}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100px;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    padding: 20px 0 0 20px;

}

.title {
    color: #c80;
    font-weight: bold;

}

.powered {
    position: relative;
    top: 77%;
    color: #cc0;
    font-style: italic;
}
.footer{
    width: 100%;
    height: 50px;
    position:absolute;
    bottom:0;
    background:black;
    text-align:center;
    color:white; 


}
</style>
{%endblock%}
{%block content %}
    <div class="home-image">
    
    </div>

    <hr style="margin: 10px 0;">
    <div class="row text-center">
        
        <div style="cursor: pointer;" onclick="{% url 'home' %};" class="col-sm-6">
            <h3>Bookmark App</h3>
           
        </div>
        
        <div class="col-sm-6">
            <h3>Blog App</h3>
        </div>
    </div>
    
{%endblock%}

{%block footer%}
<footer class ="footer">
    <div >Copytight &copy; 2019</div>
    
</footer>
{% endblock %}
